<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Placed</title>
    <!-- favicon -->
    <link rel="icon" href="https://yt3.ggpht.com/a/AGF-l78km1YyNXmF0r3-0CycCA0HLA_i6zYn_8NZEg=s900-c-k-c0xffffffff-no-rj-mo" type="image/gif" sizes="16x16">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4a3b1f73a2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^3.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./place.css">
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <!-- ORDER PLACED -->
    <div class="text-center px-4 py-8 max-w-2xl mx-auto">
        <div class="mb-8">
            <i class="fas fa-check-circle text-green-500 text-8xl sm:text-6xl"></i>
        </div>
        <div>
            <h1 class="text-3xl font-semibold mb-4">Order Placed Successfully!</h1>
            <p class="text-lg text-gray-700">We've sent you an email with the order details.</p>
        </div>
    </div>
</body>
<script src="/place.js"></script>
</html>
