@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0 0;
    
}

body {
    position: relative;
    /* cursor: none; */
    height: 100%;
    width: 100%;
    background-color: #ffff;
    margin: 0;
    
}
body::-webkit-scrollbar {
    display: none;
}

c{
    color: #00d5ff;
}
d{
    color :rgb(0, 0, 0);
}
.compilercss{
    margin-top: -100rem;
}
.lightskyblue{
    background-color: #7dd3fc;
}