body::-webkit-scrollbar {
  display: none;
}


#load {
    position:fixed;
    width:90%;
    height:10%;
    left:10%;
    top:100%;
    /* margin-left:10%; */
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    margin-top: -2%;
    margin-bottom: 2%;
    /* cursor: none; */
    z-index: 1000;
    
  }
  
  #load div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 3.8s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:#039aff;
  }
  
  #load div:nth-child(1) {
/* H  */
    animation-delay:0.7s;
    -o-animation-delay:0.7s;
    -moz-animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
  }
  #load div:nth-child(2) {
    /* E */
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
  }
  #load div:nth-child(3) {
    /* A */
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
  }
  #load div:nth-child(4) {
    /* L  */
    animation-delay:1.0s;
    -o-animation-delay:1.0s;
    -moz-animation-delay:1.0s;
    -webkit-animation-delay:1.0s;
  }
  #load div:nth-child(5) {
    /* T  */
    animation-delay:1.1s;
    -o-animation-delay:1.1s;
    -moz-animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
  }
  #load div:nth-child(6) {
    /* H  */
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
  }
  #load div:nth-child(7) {
    /* -  */
    animation-delay:1.3s;
    -o-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
  }
  #load div:nth-child(8) {
    /* -  */
    animation-delay:1.4s;
    -o-animation-delay:1.4s;
    -webkit-animation-delay:1.4s;
    -webkit-animation-delay:1.4s;
  }
  #load div:nth-child(9) {
    /* -  */
    animation-delay:2.1s;
    -o-animation-delay:2.1s;
    -moz-animation-delay:2.1s;
    -webkit-animation-delay:2.1s;
  }
  #load div:nth-child(10) {
    /* -  */
    animation-delay:2.2s;
    -o-animation-delay:2.2s;
    -moz-animation-delay:2.2s;
    -webkit-animation-delay:2.2s;
  }
  #load div:nth-child(11) {
    /* -  */
    animation-delay:2.3s;
    -o-animation-delay:2.3s;
    -moz-animation-delay:2.3s;
    -webkit-animation-delay:2.3s;
  }
  #load div:nth-child(12) {
    /* -  */
    animation-delay:1.9s;
    -o-animation-delay:1.9s;
    -moz-animation-delay:1.9s;
    -webkit-animation-delay:1.9s;
  }
  #load div:nth-child(13) {
    /* -  */
    animation-delay:2.0s;
    -o-animation-delay:2.0s;
    -moz-animation-delay:2.0s;
    -webkit-animation-delay:2.0s;
  }
  #load div:nth-child(14) {
    /* S  */
    animation-delay:3.0s;
    -o-animation-delay:3.0s;
    -webkit-animation-delay:3.0s;
    -webkit-animation-delay:3.0s;
  }
  
  #load div:nth-child(15) {
    /* -  */
    animation-delay:3.1s;
    -o-animation-delay:3.1s;
    -moz-animation-delay:3.1s;
    -webkit-animation-delay:3.1s;
  }
  #load div:nth-child(16) {
    /* -  */
    animation-delay:3.2s;
    -o-animation-delay:3.2s;
    -moz-animation-delay:3.2s;
    -webkit-animation-delay:3.2s;
  }
  #load div:nth-child(17) {
    /* G  */
    animation-delay:3.3s;
    -o-animation-delay:3.3s;
    -moz-animation-delay:3.3s;
    -webkit-animation-delay:3.3s;
  }
  #load div:nth-child(18) {
    /* L  */
    animation-delay:3.4s;
    -o-animation-delay:3.4s;
    -moz-animation-delay:3.4s;
    -webkit-animation-delay:3.4s;
  }
  #load div:nth-child(19) {
    /* A  */
    animation-delay:3.5s;
    -o-animation-delay:3.5s;
    -moz-animation-delay:3.5s;
    -webkit-animation-delay:3.5s;
  }
  #load div:nth-child(20) {
    /* U  */
    animation-delay:3.6s;
    -o-animation-delay:3.6s;
    -moz-animation-delay:3.6s;
    -webkit-animation-delay:3.6s;
  }

  @keyframes move {
    0% {
      right:0;
      opacity:0;
    }
      35% {
          right: 41%; 
          -moz-transform:rotate(0deg);
          -webkit-transform:rotate(0deg);
          -o-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          right:59%; 
          -moz-transform:rotate(0deg); 
          -webkit-transform:rotate(0deg); 
          -o-transform:rotate(0deg);
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          right:100%; 
          -moz-transform:rotate(-180deg); 
          -webkit-transform:rotate(-180deg); 
          -o-transform:rotate(-180deg); 
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
  @-moz-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -moz-transform:rotate(0deg); 
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%; 
          -moz-transform:rotate(0deg); 
          transform:rotate(0deg);
          opacity:1;
      }
      100% {
          left:100%; 
          -moz-transform:rotate(-180deg); 
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
  @-webkit-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -webkit-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          -webkit-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%;
          -webkit-transform:rotate(-180deg); 
          transform:rotate(-180deg); 
          opacity:0;
      }
  }
  
  @-o-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -o-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          -o-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%; 
          -o-transform:rotate(-180deg); 
          transform:rotate(-180deg); 
          opacity:0;
      }
  }
  



  /* #cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    border-radius: 25%;
    background: rgb(0, 166, 255);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 100;
    animation: rotateShape 10s infinite linear;
    transition: width .5s, height .5s;
    margin-top: -2rem;
  } */
  /* @keyframes rotateShape {
    0% {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  } */
  /* #cursor span {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fcfcfc;
    opacity: 0;
  }
  #cursor.hovered span {
    animation: animateBlob 1.5s infinite;
  }
  #cursor span:first-child {
    top: -5px;
    left: -5px;
    animation-delay: .1s;
  }
  #cursor span:nth-child(2) {
    top: 20px;
    left: -15px;
    animation-delay: .2s;
  }
  #cursor span:nth-child(3) {
    top: 5px;
    left: 40px;
    animation-delay: .3s;
  }
  #cursor span:last-child {
    right: -5px;
    bottom: -5px;
    animation-delay: .4s;
  }
  
  @keyframes animateBlob {
    0% {
      opacity: 1;
    }
    40% {
      transform: scale(10);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  } */

  a{
    /* cursor: none; */
  }
  button{
    /* cursor: none !important; */
  }
  ul{
    /* cursor: none !important; */
  }
  li{
    /* cursor: none !important; */
  }






































  